# BTC closing price prediction using MLR model

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.neighbors import KNeighborsRegressor

In [4]:
df=pd.read_csv(r'C:\Users\user\Desktop\Folders\sem III\project\archive_BTC\bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv')

In [5]:
df

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
4857372,1617148560,58714.31,58714.31,58686.00,58686.00,1.384487,81259.372187,58692.753339
4857373,1617148620,58683.97,58693.43,58683.97,58685.81,7.294848,428158.146640,58693.226508
4857374,1617148680,58693.43,58723.84,58693.43,58723.84,1.705682,100117.070370,58696.198496
4857375,1617148740,58742.18,58770.38,58742.18,58760.59,0.720415,42332.958633,58761.866202
4857376,1617148800,58767.75,58778.18,58755.97,58778.18,2.712831,159417.751000,58764.349363

In [6]:
df.shape

(4857377, 8)

In [7]:
df.dtypes

Timestamp              int64
Open                 float64
High                 float64
Low                  float64
Close                float64
Volume_(BTC)         float64
Volume_(Currency)    float64
Weighted_Price       float64
dtype: object

In [8]:
duplicate_rows=df[df.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [Timestamp, Open, High, Low, Close, Volume_(BTC), Volume_(Currency), Weighted_Price]
Index: []

In [9]:
duplicate_rows.shape

(0, 8)

In [10]:
df.isnull().sum()

Timestamp                  0
Open                 1243608
High                 1243608
Low                  1243608
Close                1243608
Volume_(BTC)         1243608
Volume_(Currency)    1243608
Weighted_Price       1243608
dtype: int64

In [11]:
df1=df.dropna()

In [12]:
df1

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
478,1325346600,4.39,4.39,4.39,4.39,48.000000,210.720000,4.390000
547,1325350740,4.50,4.57,4.50,4.57,37.862297,171.380338,4.526411
548,1325350800,4.58,4.58,4.58,4.58,9.000000,41.220000,4.580000
1224,1325391360,4.58,4.58,4.58,4.58,1.502000,6.879160,4.580000
...,...,...,...,...,...,...,...,...
4857372,1617148560,58714.31,58714.31,58686.00,58686.00,1.384487,81259.372187,58692.753339
4857373,1617148620,58683.97,58693.43,58683.97,58685.81,7.294848,428158.146640,58693.226508
4857374,1617148680,58693.43,58723.84,58693.43,58723.84,1.705682,100117.070370,58696.198496
4857375,1617148740,58742.18,58770.38,58742.18,58760.59,0.720415,42332.958633,58761.866202
4857376,1617148800,58767.75,58778.18,58755.97,58778.18,2.712831,159417.751000,58764.349363

In [13]:
df1.shape

(3613769, 8)

In [14]:
x=df1.iloc[:,[1,2,3,5,6,7]].values
y=df1.iloc[:,4].values

In [15]:
y=df1.iloc[:,4].values
y

array([4.390000e+00, 4.390000e+00, 4.570000e+00, ..., 5.872384e+04,
       5.876059e+04, 5.877818e+04])

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.20,random_state=0)

In [17]:
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [18]:
regressor=RandomForestRegressor(n_estimators=5,random_state=0)
regressor.fit(x_train,y_train)

RandomForestRegressor(n_estimators=5, random_state=0)

In [19]:
y_pred=regressor.predict(x_test)

In [20]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 2.929458804853182
Mean Squared Error: 70.95025499065412
Root Mean Squared Error: 8.423197432724352

# MLR predictor

In [21]:
lr=LinearRegression()

In [22]:
lr.fit(x_train,y_train)

LinearRegression()

In [23]:
y_pred=lr.predict(x_test)

In [24]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 2.632724306546139
Mean Squared Error: 51.896897574516444
Root Mean Squared Error: 7.203950136870496

# KNN REGRESSOR

In [25]:
np.sqrt(51.8968)

7.203943364574711

In [62]:
knn=KNeighborsRegressor(n_neighbors=30)

In [63]:
knn.fit(x_train,y_train)

KNeighborsRegressor(n_neighbors=30)

In [64]:
y_pred=knn.predict(x_test)

In [65]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 9.18733451538605
Mean Squared Error: 3430.203238992638
Root Mean Squared Error: 58.567936953529774

In [48]:
sc.fit(df1.drop('Close',axis=1))

StandardScaler()

In [49]:
scaled_feature=sc.transform(df1.drop('Close',axis=1))

In [50]:
df_feat=pd.DataFrame(scaled_feature,columns=df1.columns[:-1])
df_feat.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency)
0,-2.318475,-0.667460,-0.667402,-0.667510,-0.290268,-0.275059,-0.667469
1,-2.318090,-0.667460,-0.667402,-0.667510,1.266019,-0.273685,-0.667469
2,-2.318034,-0.667448,-0.667382,-0.667498,0.934179,-0.273944,-0.667454
3,-2.318033,-0.667439,-0.667381,-0.667489,-0.010581,-0.274801,-0.667448
4,-2.317488,-0.667439,-0.667381,-0.667489,-0.256016,-0.275027,-0.667448

In [51]:
x_train,x_test,y_train,y_test=train_test_split(scaled_feature,df1['Close'],test_size=.20,random_state=0)

In [56]:
from sklearn.model_selection import cross_val_score

In [ ]:
accracy=[]
for i in  range(1,40):
    knn=KNeighborsRegressor(n_neighbors=i)
    scre=cross_val_score(knn,df_feat,df['Close'],cv=10)
    accuracy.append(score.mean())